@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100px;
  font-color: #FFFFFF;
  background-color: #000000;
}
